{% load calculations %} {% load humanize %} {% load static %}

<footer class="footer py-4 text-white-50 text-center hidden-xs hidden-sm hidden-md">
  <p>
      <span class="label mx-2 px-3 py-3" style="border-radius: 25px; background-color: rgb(56, 56, 56, 0.4);">
          <span class="" style="font-size: 1.5rem; font-weight: bold;">
              <a href="#">Epic-Ticker.tech </a> @ 2020 by
              <span class="text-dark mr-4">`blacktyg3r </span>
              Contact:
              <a href="https://t.me/epicticker" target="_blank">Telegram</a>
              &
              <a href="https://twitter.com/blacktyg3r" target="_blank">Twitter</a>
<!--              <a href="" target="_blank"></a>-->
        </span>
      </span>
  </p>
</footer>
<footer class="footer py-4 text-white-50 text-center hidden-lg hidden-xl">
  <p>
      <span class="label mx-2 px-3 py-3" style="border-radius: 25px; background-color: rgb(56, 56, 56, 0.4);">
          <span class="ml-3" style="font-size: 1.5rem; font-weight: bold;">
              <a href="#">Epic-Ticker.tech </a> @ 2020 by
              <span class="text-dark mr-4 mb-3">`blacktyg3r </span>
              <br>
              Contact:
              <a href="https://t.me/epicticker" target="_blank">Telegram</a>
              &
              <a href="https://twitter.com/blacktyg3r" target="_blank">Twitter</a>
<!--              <a href="" target="_blank"></a>-->
        </span>
      </span>
  </p>
</footer>